@use "../../../../../../styles/mixins.scss" as mixins;
@import "../../../../../../styles/variables.module.scss";

.modalBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--bg-trans);
  cursor: pointer;
  z-index: 9;
}

.loadingWrapper {
  height: 200px;
}

.modalWrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--first-layer);
  border-radius: var(--mid-radius);
  width: min(900px, 80vw);
  cursor: default;
  z-index: 10;
  overflow: hidden;

  .modalTitle {
    font-size: 2.5rem;
    color: white;
    width: fit-content;
  }
}

.outsideWrapper {
  padding: 1rem;
  position: relative;

  .exitBtn {
    position: absolute;
    top: 0;
    right: 0;
    // background-color: var(--error-red-dark);
    font-size: 1.15rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.1s linear;
    color: var(--text-secondary);

    &:hover {
      background-color: var(--error-red);
    }
  }
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;

  .infoItem {
    background-color: var(--sec-layer);
    padding: 0.5rem 0.75rem;
    border-radius: var(--content-radius);
    box-shadow: $sm-dark-shadow;
  }

  .infoTxt {
    font-size: 1.25rem;
    color: var(--text-main);
  }
}

.modalContent {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.modalListWrapper {
  border-radius: var(--mid-radius);
  overflow: hidden;
  border: 1px solid var(--light-border);
  flex: 4;
  background-color: var(--sec-layer);
  box-shadow: $sm-dark-shadow;
}

.modalList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  max-height: 380px;
  height: 100%;
  overflow-y: auto;

  @include mixins.scrollbar;
}

.listItem {
  font-size: 1.25rem;
  position: relative;

  .itemTxt {
    @include mixins.ellipsis;
    color: var(--text-secondary);
  }

  .itemIndex {
    color: var(--cyan-accent);
    margin-right: 0.5rem;
    font-weight: bold;
  }
}

.itemHover {
  position: absolute;
  top: 1.5rem;
  padding: 0.15rem;
  width: fit-content;
  background-color: var(--third-layer);
  display: none;
  z-index: 100;
  pointer-events: none;

  &.active {
    display: block;
  }

  .itemHoverTxt {
    font-size: 1.05rem;
    color: var(--text-main);
    font-weight: bold;
  }
}

.contentRight {
  flex: 2;
}

.statWrapper {
  background-color: var(--third-layer);
  height: fit-content;
  padding: 1rem;
  border-radius: var(--content-radius);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: $sm-dark-shadow;

  .statTitle {
    font-size: 2rem;
    color: var(--text-secondary);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .statTxt {
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;

    .statName {
      color: var(--text-secondary);
    }

    .statValue {
      font-size: 1.25rem;
      color: var(--text-secondary);
      font-weight: bold;
    }
  }
}

.modalCta {
  width: 100%;
  margin-top: 1rem;
  font-size: 2rem;
  background: var(--sec-layer);
  border: none;
  color: var(--text-main);
  padding: 0.5rem 0rem;
  border-radius: var(--mid-radius);
  cursor: pointer;
  transition: all 0.1s linear;
  box-shadow: $sm-dark-shadow;

  &:hover {
    background-color: var(--third-layer);
    transform: translateY(-1px);
  }

  &.startBtn {
    background-color: var(--cyan-soft);

    &:hover {
      background-color: var(--cyan-accent);
    }
  }
}

.deleteWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--sec-layer);
  z-index: 10;
  width: min(500px, 80vw);
  border-radius: var(--mid-radius);
  min-height: 180px;

  .outsideWrapper {
    min-height: 180px;
  }

  .exitTxt {
    font-size: calc(1.5rem - 1px);
    color: var(--text-main);
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }

  .exitName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0rem;
  }

  .exitBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }

  .exitCta {
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 175px;
    border-radius: var(--mid-radius);
    cursor: pointer;
    color: var(--text-main);
    border: 1px solid var(--light-border);
    transition: all 0.1s linear;
    box-shadow: $sm-dark-shadow;

    &.delete {
      background-color: var(--error-red-dark);
      font-weight: bold;

      &:hover {
        background-color: var(--error-red);
      }
    }

    &.cancel {
      background-color: var(--cyan-soft);

      &:hover {
        background-color: var(--cyan-accent);
      }
    }
  }
}

.editCta {
  font-size: 1.3rem;
  color: var(--cyan-soft);
  transition: all 0.1s linear;
  cursor: pointer;

  &:hover {
    font-size: 1.35rem;
    color: var(--cyan-accent);
  }
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 1.3rem;
  color: var(--text-secondary);
  width: fit-content;
  margin: 0.25rem 0rem;
}

.input {
  background-color: var(--sec-layer);
  border: 1px solid var(--light-border);
  padding: 0.5rem;
  color: var(--text-main);
  font-size: 1.15rem;
  border-radius: var(--mid-radius);
  outline: none;
  width: 100%;

  &:focus {
    border-color: var(--highlight-border);
    border-radius: var(--mid-radius);
  }
}

.optionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.questionTxtWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.questionsWrapper {
  overflow: auto;
  max-height: 400px;
  .question {
    display: flex;
    padding: 1rem 0.5rem;
    border-radius: var(--mid-radius);
  }

  .questionIndex {
    margin-right: 1rem;
    color: var(--cyan-accent);
    font-weight: bold;
    font-size: 1.1rem;
  }

  .questionTxt {
    font-size: 1.15rem;
    color: var(--text-secondary);
  }
}

.option {
  font-size: 1.1rem;
  resize: vertical;
  border: 1px solid var(--error-red-dark);
  background-color: var(--sec-layer);
  color: var(--text-secondary);
  outline: none;
  padding: 0.5rem;
  border-radius: var(--mid-radius);
  cursor: text;
  width: 100%;

  &.correct {
    border-color: var(--green-accent);
  }
}

.optionsDropdown {
  max-height: 0px;
  overflow: hidden;

  &.active {
    max-height: 100%;
  }
}

.questionLabel {
  font-size: 1.15rem;
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

.questionTitle {
  color: var(--text-secondary);
  border: 1px solid var(--highlight-border);
  margin-bottom: 1rem;
  padding: 0.5rem;
  cursor: text;
  font-size: 1.15rem;
  border-radius: var(--mid-radius);
}

.explanationWrapper {
  margin-top: 1rem;
}

.editBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .editBtn {
    font-size: 1.25rem;
    padding: 0.75rem;
    width: 200px;
    border-radius: var(--mid-radius);
    border: 1px solid var(--light-border);
    color: var(--text-main);
    cursor: pointer;
    transition: all 0.1s linear;
    background-color: var(--sec-layer);

    &.cnclBtn {
      border-color: var(--light-border);

      &:hover {
        background-color: var(--third-layer);
      }
    }

    &.fullBtn {
      border-color: var(--cyan-soft);

      &:hover {
        background-color: var(--cyan-accent);
      }
    }

    &.saveBtn {
      background-color: var(--green-soft);

      &:hover {
        background-color: var(--green-accent);
      }
    }
  }
}
