@use "../../../../../../styles/mixins.scss" as mixins;
@import "../../../../../../styles/variables.module.scss";
.modalBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--bg-trans);
  cursor: pointer;
  z-index: 9;
}

.modalWrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--first-layer);
  padding: 1rem;
  border-radius: var(--content-radius);
  width: min(900px, 80vw);
  cursor: default;
  z-index: 10;

  .modalTitle {
    font-size: 2.5rem;
    color: white;
  }
}

.infoWrapper {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;

  .infoItem {
    background-color: var(--sec-layer);
    padding: 0.5rem 0.75rem;
    border-radius: var(--content-radius);
    box-shadow: $sm-dark-shadow;
  }

  .infoTxt {
    font-size: 1.25rem;
    color: var(--text-main);
  }
}

.modalContent {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.modalListWrapper {
  border-radius: var(--mid-radius);
  overflow: hidden;
  border: 2px solid var(--light-border);
  flex: 4;
  background-color: var(--sec-layer);
  box-shadow: $dark-shadow;
}

.modalList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  max-height: 380px;
  overflow-y: auto;

  @include mixins.scrollbar;
}

.listItem {
  font-size: 1.25rem;

  .itemTxt {
    @include mixins.ellipsis;
    color: var(--text-secondary);
  }

  .itemIndex {
    color: var(--cyan-accent);
    margin-right: 0.5rem;
    font-weight: bold;
  }
}

.contentRight {
  flex: 2;
}

.statWrapper {
  background-color: var(--third-layer);
  height: fit-content;
  padding: 1rem;
  border-radius: var(--content-radius);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: $dark-shadow;

  .statTitle {
    font-size: 2rem;
    color: var(--text-secondary);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .statTxt {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;

    .statName {
      color: var(--text-secondary);
    }

    .statValue {
      color: var(--text-secondary);
    }
  }
}

.modalCta {
  width: 100%;
  margin-top: 1rem;
  font-size: 2rem;
  background: var(--sec-layer);
  border: 2px solid var(--light-border);
  color: var(--text-main);
  padding: 0.5rem 0rem;
  border-radius: var(--mid-radius);
  cursor: pointer;
  transition: all 0.1s linear;
  box-shadow: $sm-dark-shadow;

  &:hover {
    border: 2px solid var(--highlight-border);
    background-color: var(--third-layer);
    transform: translateY(-1px);
  }
}
