@import "../../styles/variables.module.scss";

.authWrapper {
  width: 500px;
  // background: linear-gradient(180deg, #181f29 0%, #111822 100%);
  background-color: var(--sec-layer);
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: var(--mid-radius);
  box-shadow: $dark-shadow;

  &.loading {
    pointer-events: none;
  }
}

.titleWrapper {
  margin-bottom: 2rem;

  .authTitle {
    font-size: 2.5rem;
    color: var(--text-main);
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    text-align: center;
    font-size: 1.25rem;
    color: var(--text-secondary);
    margin-top: 1rem;
  }
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputWrapper {
  background-color: var(--dark-bg);
  padding: 1rem;
  border-radius: var(--mid-radius);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-border);

  &.loading {
    background-color: var(--bg-trans);
    pointer-events: none;
  }

  .inputLabel {
    font-size: 1.25rem;
    color: var(--text-main);
    margin-bottom: 0.25rem;
  }

  .input {
    border: none;
    font-size: 1.25rem;
    color: var(--text-main);
    background-color: transparent;
    margin-top: 1rem;
    outline: none;

    &::placeholder {
      color: var(--text-secondary);
    }
  }
}

.inputBtn {
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: var(--mid-radius);
  color: var(--text-secondary);
  cursor: pointer;
  background-color: var(--cyan-soft);
  border: none;
  transition: all 0.1s linear;
  box-shadow: $sm-dark-shadow;
  width: 100%;
  margin: 2rem 0rem 1rem 0rem;
  font-weight: bold;

  &:hover {
    transform: scale(1.01);
    font-size: 1.26rem;
    background-color: var(--cyan-accent);
  }

  &.loading {
    background-color: var(--cyan-trans);
    transform: scale(1);
    cursor: pointer;
    pointer-events: none;
  }
}

.ctaTxt {
  color: var(--text-main);
  text-align: center;

  .cta {
    font-weight: bold;
    cursor: pointer;
    color: var(--cyan-accent);
  }
}
