.errorWrapper {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--error-red);
  padding: 1rem;
  opacity: 0;
  transition: all 0.25s linear;
  pointer-events: none;
  border-bottom-left-radius: var(--mid-radius);

  &.active {
    opacity: 1;
  }
}

.errorTxt {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
