.resultTxt {
  font-size: 2rem;
  color: var(--text-secondary);
  text-align: center;
}

.resultsWrapper {
  background-color: var(--first-layer);
  border-radius: var(--content-radius);
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  box-shadow: 0px 2px 10px rgba(darkgray, 0.5);
}

.infoTxt {
  color: var(--text-secondary);
  font-size: 1.75rem;
  text-align: center;
}

.infoTitle {
  font-size: 1.85rem;
  color: var(--text-main);
  text-align: center;
  margin-bottom: 0.75rem;
  font-weight: bold;
}
