.resultTxt {
  font-size: 2rem;
  color: white;
}

.resultsWrapper {
  background-color: var(--outer-navy);
  margin-top: 2rem;
  border-radius: var(--content-radius);
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  box-shadow: 0 5px 20px 1px rgba(white, 0.15);
}

.infoTxt {
  color: var(--text-muted);
  font-size: 1.75rem;
  text-align: center;
}

.infoTitle {
  font-size: 1.85rem;
  color: var(--text-main);
  text-align: center;
  margin-bottom: 0.75rem;
  font-weight: bold;
}
