.resultTxt {
  font-size: 2rem;
  color: var(--text-secondary);
  text-align: center;
  margin-bottom: 1rem;
}

.contentWrapper {
  background-color: var(--first-layer);
  border-radius: var(--content-radius);
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  box-shadow: 0px 1px 10px rgba(darkgray, 0.5);
}

.resultsWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;

  .infoTitle {
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .infoTxtWrapper {
    background-color: var(--sec-layer);
    border-radius: var(--mid-radius);
    padding: 1rem 1.5rem;
  }

  .infoTxt {
    color: var(--text-secondary);
    font-size: 1.5rem;
  }

  .infoValue {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    columns: var(--text-main);
  }

  .infoTxtsWrapper {
    display: flex;
    gap: 2rem;
  }
}
