.contentWrapper {
  width: min(var(--app-width), 1200px);
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
}

.breadcrumbWrapper {
  width: 100%;
}

.quizWrapper {
  display: none;

  &.active {
    display: block;
  }
}
