.contentWrapper {
  min-width: min(var(--app-width), 1200px);
  max-width: min(var(--app-width), 1200px);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  margin-top: 1rem;
}

.breadcrumbWrapper {
  width: 100%;
}

/* Wrapper that holds the <Quiz /> component */
.quizWrapper {
  width: 100%;
  display: none; /* hidden by default so we can show spinner/results instead */
}

/* When active, make it flex so inner content can stretch */
.quizWrapper.active {
  display: flex;
}
