* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0b1728 0%, var(--dark-bg) 100%);
}

.quizWrapper {
  display: none;

  &.active {
    display: block;
  }
}
