.contentWrapper {
  width: var(--app-width);
  margin: 0 auto;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.breadcrumbWrapper {
  width: 100%;
}

.quizWrapper {
  width: 100%;
  display: none;

  &.active {
    display: block;
  }
}
