.editModalWrapper {
  width: min(600px, 80vw);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 1.3rem;
  color: var(--text-secondary);
  width: fit-content;
  margin: 0.25rem 0rem;
}

.input {
  background-color: var(--sec-layer);
  border: 1px solid var(--light-border);
  padding: 0.5rem;
  color: var(--text-main);
  font-size: 1.15rem;
  border-radius: var(--mid-radius);
  outline: none;
  width: 100%;

  &:focus {
    border-color: var(--highlight-border);
    border-radius: var(--mid-radius);
  }
}

.optionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.questionTxtWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.questionsWrapper {
  overflow: auto;
  max-height: 400px;
  .question {
    display: flex;
    padding: 1rem 0.5rem;
    border-radius: var(--mid-radius);
  }

  .questionIndex {
    margin-right: 1rem;
    color: var(--cyan-accent);
    font-weight: bold;
    font-size: 1.1rem;
  }

  .questionTxt {
    font-size: 1.15rem;
    color: var(--text-secondary);
  }
}

.option {
  font-size: 1.1rem;
  resize: vertical;
  border: 1px solid var(--error-red-dark);
  background-color: var(--sec-layer);
  color: var(--text-secondary);
  outline: none;
  padding: 0.5rem;
  border-radius: var(--mid-radius);
  cursor: text;
  width: 100%;

  &.correct {
    border-color: var(--green-accent);
  }
}

.optionsDropdown {
  max-height: 0px;
  overflow: hidden;

  &.active {
    max-height: 100%;
  }
}

.questionLabel {
  font-size: 1.15rem;
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

.questionTitle {
  color: var(--text-secondary);
  border: 1px solid var(--highlight-border);
  margin-bottom: 1rem;
  padding: 0.5rem;
  cursor: text;
  font-size: 1.15rem;
  border-radius: var(--mid-radius);
}

.explanationWrapper {
  margin-top: 1rem;
}

.editBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .editBtn {
    font-size: 1.25rem;
    padding: 0.75rem;
    width: 175px;
    border-radius: var(--mid-radius);
    border: 1px solid var(--light-border);
    color: var(--text-main);
    cursor: pointer;
    transition: all 0.1s linear;
    background-color: var(--sec-layer);

    &.cnclBtn {
      border-color: var(--light-border);

      &:hover {
        background-color: var(--third-layer);
      }
    }

    &.fullBtn {
      border-color: var(--cyan-soft);

      &:hover {
        background-color: var(--cyan-accent);
      }
    }

    &.saveBtn {
      background-color: var(--green-soft);

      &:hover {
        background-color: var(--green-accent);
      }
    }
  }
}
