@use "../../styles/mixins.scss" as mixins;
@import "../../styles/variables.module.scss";

.dashboardTitle {
  font-size: 3rem;
  color: var(--text-main);
  text-align: center;
  margin-top: 2rem;
}

.searchWrapper {
  width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
}

.classWrapper {
  padding: 2rem 1rem;
  background-color: var(--first-layer);
  width: calc(100% / 4 - 1rem);
  border-radius: var(--mid-radius);
  border: 1px solid var(--light-border);
  box-shadow: $dark-shadow;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: var(--third-layer);
  }
}

.classTxtWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &.addClassBtn {
    justify-content: center;
  }

  .classIcon {
    color: var(--cyan-soft);
    font-size: 2rem;
  }

  .className {
    font-size: 1.75rem;
    color: white;
  }
}

.classesWrapper {
  display: flex;
  justify-content: center;
}

.classesSizeWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: var(--app-width);
  flex-wrap: wrap;
  margin-top: 1rem;
}

.headingWrapper {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: var(--app-width);
  border-bottom: 1px solid var(--light-border);
  padding-bottom: 1.5rem;

  .heading {
    font-size: 2rem;
    color: var(--text-secondary);
    text-align: center;
  }
}

.emptyWrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .emptyTxt {
    font-size: 1.25rem;
    color: var(--text-main);
    text-align: center;
  }

  .secTxt {
    color: var(--text-secondary);
  }
}

.retryBtn {
  font-size: 1.25rem;
  background-color: var(--cyan-soft);
  border: 1px solid var(--light-border);
  color: var(--text-main);
  padding: 0.5rem;
  width: 200px;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: var(--mid-radius);
  transition: all 0.1s linear;

  &:hover {
    background-color: var(--cyan-accent);
  }
}
