@import "../../styles/variables.module.scss";

.dashboardTitle {
  font-size: 3rem;
  color: var(--text-main);
  text-align: center;
  margin-top: 2rem;
}

.searchWrapper {
  width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
}

.classWrapper {
  padding: 2rem 1rem;
  background-color: var(--outer-navy);
  width: 300px;
  border-radius: var(--mid-radius);
  cursor: pointer;
  box-shadow: $light-shadow;

  transition: all 0.1s linear;

  &:hover {
    box-shadow: $light-shadow-highlight;
  }
}

.classTxtWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .classIcon {
    color: var(--cyan-soft);
    font-size: 2rem;
  }

  .className {
    font-size: 1.75rem;
    color: white;
  }
}

.classesWrapper {
  display: flex;
  justify-content: center;
}

.classesSizeWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  max-width: 80vw;
  flex-wrap: wrap;
}
