// @import "../../../../styles/variables.module.scss";
@use "../../../../../../../styles/mixins.scss" as mixins;

.reviewsWrapper {
  width: 100%;
  background-color: var(--sec-layer);
  padding: 1rem;
  border-radius: var(--mid-radius);
  max-height: 400px;
  overflow: auto;
  @include mixins.scrollbar;
  position: relative;
}

/* Shared layout for header + rows */
.reviewRow,
.reviewHeader {
  display: grid;
  grid-template-columns: 40px 1.5fr 1fr 1fr 100px; // #, Date, Score, Time, Button
  column-gap: 1rem;
  align-items: center;
  padding: 0.5rem 0.75rem;
  justify-items: center;
}

/* Header row */
.reviewHeader {
  border-bottom: 1px solid var(--light-border);
  margin-bottom: 0.5rem;
  position: sticky;
  background-color: var(--sec-layer);
  top: -1rem;

  .reviewStat {
    color: var(--text-main);
    font-size: 1.1rem;
    font-weight: 600;
  }
}
/* Data rows */
.reviewRow {
  border-bottom: 1px solid var(--light-border);

  &:last-child {
    border-bottom: none;
  }
}

.reviewStat {
  color: var(--text-secondary);
  font-size: 1rem;
}

.reviewCta {
  width: 100%;
  background-color: var(--cyan-soft);
  color: var(--text-main);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.1s linear;
  justify-self: end;
  font-size: 1.1rem;

  &:hover {
    background-color: var(--cyan-accent);
  }
}
