$light-shadow: 0px 1px 5px rgba(darkgray, 0.5);
$light-shadow-highlight: 0px 2px 5px rgba(darkgray, 1);

$dark-shadow: 0px 3px 5px rgba(black, 0.4);
$dark-shadow-highlight: 0px 5px 6px rgba(black, 0.5);
