.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  color: var(--cyan-accent);
  font-size: 5rem;
  margin-bottom: 1rem;

  animation: 1.5s infinite spin linear;
}

.spinnerTxt {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
