.breadcrumb {
  display: flex;
  color: var(--cyan-soft);
  font-size: 1.3rem;
  gap: 5px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  .breadcrumbItem {
    cursor: default;
    transition: all 0.1s linear;

    &.breadcrumbClickable {
      cursor: pointer;

      &:hover {
        color: var(--cyan-accent);
      }
    }
  }
}
