@use "../../../../../styles/mixins.scss" as mixins;

.filesInput {
  display: none;
  margin-top: 0.5rem;
}

.filesInputBtn {
  color: var(--text-secondary);
  border: 3px dotted var(--third-layer);
  width: fit-content;
  padding: 2rem;
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: var(--mid-radius);
  margin-top: 0.5rem;
}

.previewGrid {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;

  .previewItem {
    display: flex;
    position: relative;
    width: 125px;
    height: 125px;
    min-height: 125px;
    border: 1px solid var(--bright-border);
    border-radius: var(--mid-radius);
    overflow: hidden;
  }

  .delWrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--sec-layer);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  .itemDel {
    color: var(--error-red);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
  }

  .pdfWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .pdfIcon {
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
      color: var(--text-main);
    }

    .pdfName {
      color: var(--text-secondary);
      max-width: 100%;
      @include mixins.ellipsis;
    }
  }

  .previewImg {
    width: 100%;
    height: 100%;
    color: var(--text-secondary);
  }
}
