.inputLabel {
  font-size: 1.5rem;
  color: var(--text-secondary);
  width: fit-content;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 0.5rem;
}

.inputNote {
  color: var(--text-muted);
  line-height: 1rem;
}
