.searchWrapper {
  background-color: var(--first-layer);
  border: 1px solid var(--light-border);
  width: 100%;
  padding: 1rem;
  border-radius: var(--content-radius);
  display: flex;
  align-items: center;

  .searchIcon {
    font-size: 1.5rem;
    color: var(--text-secondary);
  }

  .searchInput {
    background-color: transparent;
    outline: none;
    border: none;
    width: 450px;
    font-size: 1.5rem;
    padding-left: 1rem;
    color: var(--text-secondary);
    flex-grow: 1;

    &::placeholder {
      color: var(--text-muted);
    }
  }
}
