@use "../../../../../../styles/mixins.scss" as *;
@import "../../../../../../styles/variables.module.scss";

.modalBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--bg-trans);
  cursor: pointer;
  z-index: 99;
}

.loadingWrapper {
  height: 200px;
}

.modalWrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--first-layer);
  border-radius: var(--mid-radius);
  width: min(900px, var(--app-width));
  cursor: default;
  z-index: 100;
  overflow: hidden;
  border: 1px solid var(--light-border);

  @include respond($bp-md) {
    max-height: 70%;
    overflow: auto;
  }

  .modalTitle {
    font-size: 2.5rem;
    color: white;
    width: fit-content;
    margin-bottom: 1rem;

    @include respond($bp-sm) {
      font-size: 2rem;
    }
  }
}

.outsideWrapper {
  padding: 1rem;
  position: relative;
  min-height: 180px;

  .exitBtn {
    position: absolute;
    top: 0;
    right: 0;
    // background-color: var(--error-red-dark);
    font-size: 1.15rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.1s linear;
    color: var(--text-secondary);

    &:hover {
      background-color: var(--error-red);
    }
  }
}

.infoCtaWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  @include respond($bp-md) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

.infoWrapper {
  display: flex;
  gap: 1rem;

  @include respond($bp-md) {
    gap: 0.5rem;
  }

  @include respond($bp-sm) {
    flex-direction: column;
    width: 100%;
  }

  .infoItem {
    background-color: var(--sec-layer);
    padding: 0.5rem 0.75rem;
    border-radius: var(--content-radius);
    box-shadow: $sm-dark-shadow;
  }

  .infoTxt {
    font-size: 1.25rem;
    color: var(--text-main);
  }
}

.editCtas {
  display: flex;
  gap: 1rem;

  @include respond($bp-md) {
    gap: 0.5rem;
  }
}

.modalContent {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  @include respond($bp-md) {
    flex-direction: column;
  }
}

.modalListWrapper {
  border-radius: var(--mid-radius);
  overflow: hidden;
  border: 1px solid var(--light-border);
  flex: 4;
  background-color: var(--sec-layer);
  box-shadow: $sm-dark-shadow;
}

.modalList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  max-height: 380px;
  height: 100%;
  overflow-y: auto;

  @include respond($bp-sm) {
    max-height: 180px;
  }

  @include scrollbar;
}

.listItem {
  font-size: 1.25rem;
  position: relative;

  .itemTxt {
    @include ellipsis;
    color: var(--text-secondary);
  }

  .itemIndex {
    color: var(--cyan-accent);
    margin-right: 0.5rem;
    font-weight: bold;
  }
}

.itemHover {
  position: absolute;
  top: 1.5rem;
  padding: 0.15rem;
  width: fit-content;
  background-color: var(--third-layer);
  display: none;
  z-index: 100;
  pointer-events: none;

  &.active {
    display: block;
  }

  .itemHoverTxt {
    font-size: 1.05rem;
    color: var(--text-main);
    font-weight: bold;
  }
}

.contentRight {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statWrapper {
  background-color: var(--sec-layer);
  height: fit-content;
  padding: 1rem;
  border-radius: var(--content-radius);
  border: 1px solid var(--light-border);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: $sm-dark-shadow;

  .statTitle {
    font-size: 2rem;
    color: var(--text-main);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .statTxt {
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;

    .statName {
      color: var(--text-secondary);
    }

    .statValue {
      font-size: 1.25rem;
      color: var(--text-secondary);
      font-weight: bold;
    }
  }
}

.ctasWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.modalCta {
  width: 100%;
  font-size: 1.5rem;
  background: transparent;
  border: 1px solid var(--green-soft);
  color: var(--text-main);
  padding: 0.5rem 0rem;
  border-radius: var(--mid-radius);
  cursor: pointer;
  transition: all 0.1s linear;
  box-shadow: $sm-dark-shadow;

  &:hover {
    border-color: var(--green-accent);
    transform: translateY(-1px);
  }

  &.startBtn {
    background-color: var(--cyan-soft);

    &:hover {
      background-color: var(--cyan-accent);
    }
  }
}

.editCta {
  font-size: 1.5rem;
  color: var(--cyan-soft);
  transition: all 0.1s linear;
  cursor: pointer;

  &:hover {
    color: var(--cyan-accent);
  }

  &.delCta {
    color: var(--error-red-dark);

    &:hover {
      color: var(--error-red);
    }
  }
}
