@use "../../../../styles/mixins.scss" as mixins;
@import "../../../../styles/variables.module.scss";

.modalBackground {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--bg-trans);
  z-index: 9;
}

.modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--first-layer);
  border-radius: var(--content-radius);
  cursor: default;
  padding: 2rem;
  width: min(500px, var(--app-width));
  z-index: 10;
  min-height: 200px;

  .modalTitle {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.modalInputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  .inputLabel {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--text-secondary);
  }

  .input {
    font-size: 1.25rem;
    padding: 0.75rem;
    border-radius: var(--mid-radius);
    border: none;
    outline: none;
    background-color: var(--dark-bg);
    color: var(--text-main);
    border: 1px solid transparent;

    &::placeholder {
      color: var(--text-secondary);
    }

    &.error {
      border: 1px solid red;
    }
  }
}

.modalBtns {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  gap: 0.5rem;

  .modalBtn {
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5rem 0.5rem;
    color: white;
    border-radius: var(--mid-radius);
    box-shadow: $sm-dark-shadow;
    cursor: pointer;
    border: 1px solid var(--light-border);
    transition: all 0.1s linear;
  }

  .cancelBtn {
    background-color: var(--sec-layer);

    &:hover {
      background-color: var(--third-layer);
    }
  }

  .addBtn {
    background-color: var(--green-soft);
    border-color: var(--green-soft);

    &:hover {
      background-color: var(--green-accent);
      border-color: var(--green-accent);
    }
  }

  .deleteBtn {
    width: fit-content;
    padding: 0.5rem 2rem;
    background-color: var(--sec-layer);
    border-color: var(--error-red-dark);

    &:hover {
      border-color: var(--error-red);
      color: var(--error-red);
    }
  }
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
