.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 75vh;
  padding: 1rem 2rem;
}

.submitWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;

  .genInfo {
    font-size: 1.25rem;
    color: var(--text-secondary);
  }

  .submitBtn {
    font-size: 1.5rem;
    padding: 0.75rem;
    border-radius: var(--mid-radius);
    background-color: var(--cyan-soft);
    border: none;
    color: var(--text-main);
    cursor: pointer;
    width: 150px;
    transition: all 0.1s linear;

    &:hover {
      background-color: var(--cyan-accent);
    }
  }
}
