@import "../../../../../../styles/variables.module.scss";

.resultsBtn {
  width: 250px;
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
  margin: 0 1rem;
  padding: 1rem;
  color: var(--text-main);
  cursor: pointer;
  box-shadow: $sm-dark-shadow;
  transition: all 0.1s linear;
  background-color: var(--third-layer);
  border: 1px solid var(--highlight-border);

  &:hover {
    background-color: var(--third-highlight);
    transform: translateY(-1px);
    box-shadow: $dark-shadow;
    border: 1px solid var(--bright-border);
  }
}

.dashboardBtnWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  .resultsBtn {
    color: var(--text-secondary);
    background-color: var(--sec-layer);
    border: 1px solid var(--light-border);

    &:hover {
      background-color: var(--third-layer);
      border: 1px solid var(--highlight-border);
    }
  }
}
