@import "../../../../styles/variables.module.scss";

.quizWrapper {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: $sm-dark-shadow;
  border: 1px solid var(--light-border);
  margin-top: 1rem;
  flex: 1;
}

.quizContent {
  display: flex;
}

/* Optional modifier if you ever need extra styles in reviewing mode */
.quizContentReviewing {
  /* add reviewing-specific styles here if you want */
}

.incorrectWrapper {
  background-color: var(--sec-layer);
  border-right: 1px solid var(--light-border);
  max-width: 180px;
  min-width: 180px;
  overflow-y: auto;

  .incorrectTitle {
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-secondary);
    font-weight: bold;
    margin: 1rem;
    margin-bottom: 2rem;
    overflow: auto;
  }

  .incorrectItems {
    .incorrectItem {
      border-bottom: 1px solid var(--light-border);
      text-align: center;
      font-size: 1.25rem;
      color: var(--text-secondary);
      padding: 0.5rem;
      cursor: pointer;
      background-color: var(--sec-layer);
      transition: all 0.1s linear;

      &:hover {
        background-color: var(--third-layer);
      }
    }
  }
}

.questionsWrapper {
  width: 100%;
  height: fit-content;
}
