.quizWrapper {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 5px 10px 2px rgba(black, 0.5);
  border: 2px solid var(--light-border);
}

.quizContent {
  display: flex;
}

.incorrectWrapper {
  background-color: var(--sec-layer);
  border-right: 2px solid var(--light-border);
  max-width: 180px;
  min-width: 180px;

  .incorrectTitle {
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-secondary);
    font-weight: bold;
    margin: 1rem;
    margin-bottom: 2rem;
    overflow: auto;
  }

  .incorrectItems {
    .incorrectItem {
      border-bottom: 2px solid var(--light-border);
      text-align: center;
      font-size: 1.25rem;
      color: var(--text-secondary);
      padding: 0.5rem;
      cursor: pointer;
      background-color: var(--sec-layer);
      transition: all 0.1s linear;

      &:hover {
        background-color: var(--third-layer);
      }
    }
  }
}
