.contentWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  .quizTitle {
    font-size: 3rem;
    color: white;
    text-align: center;
  }
}
