@import "../../../../../../../styles/variables.module.scss";
.modalContainer {
  &.saving {
    pointer-events: none;
  }
}

.editModalWrapper {
  width: min(600px, 80vw);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 1.3rem;
  color: var(--text-secondary);
  width: fit-content;
  margin: 0.25rem 0rem;
}

.input {
  background-color: var(--sec-layer);
  border: 1px solid var(--light-border);
  padding: 0.5rem;
  color: var(--text-main);
  font-size: 1.15rem;
  border-radius: var(--mid-radius);
  outline: none;
  width: 100%;

  &:focus {
    border-color: var(--highlight-border);
    border-radius: var(--mid-radius);
  }
}

.editBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .editBtn {
    font-size: 1.25rem;
    padding: 0.75rem;
    width: 175px;
    border-radius: var(--mid-radius);
    border: 1px solid var(--light-border);
    color: var(--text-main);
    cursor: pointer;
    transition: all 0.1s linear;
    background-color: var(--sec-layer);

    &.cnclBtn {
      border-color: var(--light-border);

      &:hover {
        background-color: var(--third-layer);
      }
    }

    &.fullBtn {
      border-color: var(--cyan-soft);

      &:hover {
        background-color: var(--cyan-accent);
      }
    }

    &.saveBtn {
      background-color: var(--green-soft);

      &:hover {
        background-color: var(--green-accent);
      }
    }
  }
}

.closeWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--third-layer);
  box-shadow: $sm-dark-shadow;
  padding: 0.5rem;
  border-radius: var(--mid-radius);
  width: 400px;

  .closeTxt {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 0.5rem;
    color: var(--text-main);
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .closeBtn {
    font-size: 1.25rem;
    width: 150px;
    padding: 0.5rem;
    color: var(--text-secondary);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s linear;
    border-radius: var(--mid-radius);

    &.cnclBtn {
      border: 1px solid var(--cyan-soft);
      background-color: transparent;

      &:hover {
        background-color: var(--cyan-soft);
      }
    }

    &.clsBtn {
      border: 1px solid var(--error-red);

      &:hover {
        background-color: var(--error-red);
      }
    }
  }
}

.closeBackground {
  z-index: 90;
  cursor: default;
}
