@import "../../../../styles/variables.module.scss";

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  position: relative;

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .title {
    width: 90%;
    font-size: 4.5rem;
    color: var(--text-main);
  }

  .subtitle {
    width: 50%;
  }

  .cta {
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 0.75rem;
    width: 200px;
    border-radius: var(--mid-radius);
    border: 2px solid var(--light-border);
    background-color: var(--sec-layer);
    cursor: pointer;
    color: var(--cyan-soft);
    box-shadow: $sm-dark-shadow;
    transition: all 0.1s linear;

    &:hover {
      border: 2px solid var(--highlight-border);
      background-color: var(--third-layer);
    }
  }
}
