.statusInfoWrapper {
  display: flex;
  background-color: var(--outer-teal);
  padding: 0.75rem 2rem;
  align-items: center;
  box-shadow: 0px 5px 10px black;

  .indexTxt {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
  }
}

.statusBarWrapper {
  height: 15px;
  background-color: var(--teal-bright);
  flex-grow: 1;
  margin: 0rem 2rem;
  border-radius: 25px;
  position: relative;
  overflow: hidden;

  .statusBar {
    position: absolute;
    height: 20px;
    width: 100%;
    background-color: var(--dark-bg);
    transition: all 0.15s linear;
  }
}
