.folderWrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
}

.classTitle {
  font-size: 3rem;
  color: var(--text-main);
  font-weight: bold;
  text-align: center;
}

.searchWrapper {
  width: 100%;
  margin: 0 auto;
}
