@use "../../../../styles/mixins.scss" as mixins;
@import "../../../../styles/variables.module.scss";

.contentWrapper {
  display: flex;
}

.contentTxtWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  background-color: var(--dark-bg);
  z-index: 5;
  margin-bottom: 0.5rem;
}

.contentTitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-main);

  .contentAmt {
    color: var(--text-muted);
    margin-left: 0.25rem;
    font-weight: normal;
  }
}

.contentFilter {
  font-size: 1.5rem;
  color: var(--text-muted);
  cursor: pointer;

  &.active {
    color: var(--text-main);
  }
}

.itemsOuter {
  overflow: visible;
}

.itemsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  padding-bottom: 1rem;
  @include mixins.scrollbar;
}
