@use "../../../../styles/mixins.scss" as mixins;
@import "../../../../styles/variables.module.scss";

.contentWrapper {
  margin-top: 2rem;
  display: flex;
}

.contentTxtWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 59px;
  left: 0;
  width: 100%;
  background-color: var(--dark-bg);
  padding: 0.5rem;
  z-index: 5;
}

.contentTitle {
  font-size: 2rem;
  font-weight: bold;
  color: white;

  .contentAmt {
    color: var(--text-muted);
    margin-left: 0.25rem;
    font-weight: normal;
  }
}

.contentFilter {
  font-size: 1.5rem;
  color: var(--text-muted);
  cursor: pointer;

  &.active {
    color: var(--text-main);
  }
}

.itemsOuter {
  overflow: visible;
}

.itemsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;

  padding-bottom: 1rem;
  @include mixins.scrollbar;
}
