@use "../../../../styles/mixins.scss" as *;
@import "../../../../styles/variables.module.scss";

.contentWrapper {
  display: flex;
}

.contentTxtWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  margin-bottom: 0.5rem;

  @include respond($bp-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.classTitle {
  font-size: 3rem;
  color: var(--text-main);
  font-weight: bold;

  @include respond($bp-sm) {
    font-size: 2rem;
  }
}

.contentTitle {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--text-secondary);

  @include respond($bp-sm) {
    font-size: 1.5rem;
  }

  .contentAmt {
    color: var(--text-muted);
    margin-left: 0.25rem;
    font-weight: normal;
  }
}

.itemsOuter {
  overflow: visible;
}

.itemsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  padding-bottom: 1rem;
  @include scrollbar;
}
