@use "./styles/mixins.scss" as mixins;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--dark-bg);
}

html {
  @include mixins.scrollbar;
  scroll-behavior: smooth;
  position: relative;
}
