.contentWrapper {
  width: var(--app-width);
  margin: 0 auto;
  margin-top: 2rem;
}

.title {
  color: var(--text-main);
  font-size: 3rem;
  // line-height: 2rem;
  pointer-events: none;
}

.infoWrapper {
  position: relative;
  background-color: var(--first-layer);
  border-radius: var(--mid-radius);
  // margin-top: 2rem;
  border: 2px solid transparent;
  transition: all 0.25s linear;
  overflow: hidden;

  &.error {
    border: 2px solid var(--error-red);
  }
}
