.navWrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--outer-teal);
  position: sticky;
  align-items: center;
  padding: 0.5rem 1rem;
  top: 0;
  box-shadow: 0 2px 10px 1px rgba(black, 0.5);
}

.navTitle {
  color: rgba(white, 0.9);
  cursor: pointer;
}

.navItems {
  display: flex;

  .navItem {
    color: white;
    margin: 0rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
  }
}
