.topContent {
  top: 0;
  left: 0;
  position: sticky;
  background-color: var(--dark-bg);
  z-index: 50;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--light-border);
}

.navTitle {
  color: var(--text-main);
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    color: var(--cyan-accent);
  }
}

.navItems {
  display: flex;

  .navItem {
    color: var(--text-secondary);
    margin: 0rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      color: var(--cyan-accent);
    }
  }
}

.upgradeBanner {
  background-color: var(--cyan-soft);
  padding: 0.5rem;
  display: none;
  position: relative;

  &.active {
    display: block;
  }

  .bannerTitle {
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-main);
  }

  .bannerCta {
    color: var(--text-main);
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 0.5rem;
  }

  .bannerClose {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
    color: var(--text-main);
    transition: color 0.1s linear;
    cursor: pointer;

    &:hover {
      color: var(--error-red);
    }
  }
}

@media (max-width: 578px) {
  .navItems {
    display: none;
  }
}
