.navWrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-bg);
  position: sticky;
  align-items: center;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid var(--light-border);
}

.navTitle {
  color: var(--text-main);
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    color: var(--cyan-accent);
  }
}

.navItems {
  display: flex;

  .navItem {
    color: var(--text-secondary);
    margin: 0rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      color: var(--cyan-accent);
    }
  }
}
