.navWrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--outer-teal);
  position: sticky;
  align-items: center;
  padding: 0.5rem 1rem;

  box-shadow: 0 2px 10px 1px rgba(black, 0.5);
}

.navTitle {
  color: white;
  cursor: pointer;
}

.navItem {
  color: white;
  margin: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}
