@use "../../../../styles/mixins.scss" as mixins;
@import "../../../../styles/variables.module.scss";

.ctasWrapper {
  display: flex;
  gap: 1rem;
}

.newCta {
  background-color: var(--cyan-soft);
  border: none;
  display: flex;
  gap: 5px;
  padding: 1rem;
  border-radius: var(--mid-radius);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: var(--cyan-accent);
  }

  .ctaIcon {
    color: var(--text-main);
    font-size: 1.25rem;
  }

  .ctaTxt {
    color: var(--text-main);
    font-size: 1.25rem;
  }
}
